<div class="container">

  <div class="d-flex justify-content-between align-items-start">
    <h1>My Lists</h1>
    <%= link_to "Create Movie List", new_list_path, class:'btn btn-primary'  %>



    </div>
  <div class="row">
    <% @lists.each do |item| %>
      <div class="col-4">

      <%= link_to list_path(item)  do  %>
          <div class="card-category" style="background-color: blue;">
              <%= item.name %>
          </div>
           <% end %>
      </div>

    <% end %>

  </div>
</div>
