<div class="banner" style="background-color: blue;">
  <div class="container">
    <h1><%= @list.name %></h1>

  </div>
</div>
<div class="container">
  <%= link_to "Add a movie",  new_list_bookmark_path(@list), class: 'btn btn-success mt-3' %>
</div>
